Importing libraries

In [2]:
import pandas as pd
import numpy as np
import os

Importing data

In [3]:
# creating path
path = r'/Users/martyna/Documents/CF Data Analysis/Data Immersion/Acheivement 4/Instacart Basket Analysis 6.22'

In [7]:
# importing data
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# checking shape
df_orders_products_combined.shape

(32434489, 13)

In [9]:
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_days_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [11]:
# import products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

In [12]:
df_prods.shape

(49672, 6)

In [13]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

Merging data

In [16]:
# drop _merge
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [17]:
# merge 
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [18]:
# check merge
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_days_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,False,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,False,196,1,1,195,Soda,77,7,9.0,both

In [19]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
df_orders_products_merged.shape

(32404859, 18)

Exporting data

In [21]:
# export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))